<!DOCTYPE html>
<html lang="en" xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Update Course</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 mt-3">
        <form class="form-control" method="post" th:action="@{save}" th:object="${course}">
            <div class="mb-3 mt-3">
                <label class="form-label">Course Id:</label>
                <input type="number" name="courseId" class="form-control" th:value="${course.courseId}"
                       readonly="readonly">
            </div>
            <div class="mb-3 mt-3">
                <label for="courseName" class="form-label">Course Name:</label>
                <input id="courseName" type="text" name="courseName" class="form-control"
                       th:value="${course.courseName}">
            </div>
            <div class="mb-3 mt-3">
                <label for="courseDuration" class="form-label">Course Duration:</label>
                <input id="courseDuration" type="text" name="courseDuration" class="form-control"
                       th:value="${course.courseDuration}">
            </div>
            <div class="mb-3 mt-3">
                <label for="courseDescription" class="form-label">Course Description:</label>
                <input id="courseDescription" type="text" name="courseDescription" class="form-control"
                       th:value="${course.courseDescription}">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label">Instructor</label>
                <select sec:authorize="hasAuthority('Admin')" th:field="${course.instructor}" name="instructor" class="form-select">
                    <!--/*@thymesVar id="instructor" type="com.javacorner.entity.Instructor"*/-->
                    <option th:each="instructor: ${listInstructors}"
                            th:text="${instructor.firstName}+' '+${instructor.lastName}"
                            th:value="${instructor.instructorId}"></option>
                </select>
                <select sec:authorize="hasAuthority('Instructor')" th:field="${course.instructor}" name="instructor" class="form-select">
                    <!--/*@thymesVar id="instructor" type="com.javacorner.entity.Instructor"*/-->
                    <option selected
                            th:text="${currentInstructor.firstName}+' '+${currentInstructor.lastName}"
                            th:value="${currentInstructor.instructorId}"></option>
                </select>
            </div>
            <div class="mb-3 mt-3" th:each="student:${course.students}">
                <input hidden name="students" class="form-control"
                       th:value="${course.students[studentStat.index].getStudentId()}">
            </div>
            <button type="submit" class="btn-primary">Update</button>
        </form>
    </div>
</div>
</body>
</html>